*{
    margin: 0px;
    padding: 0px;
}


body{
    background: #464661;
}

nav {
    background-color: rgb(61, 60, 60);
    height: 3rem;

}

.clouds {
    max-height: 600px;
    width: 100%;
}

.rain-drops li{
    position: absolute;
    display: block;
    list-style: none;
    animation: animate 25s linear infinite;
    bottom: 770px;
    
}


#name, #role {
    font-family: 'Righteous', cursive;
    color: white;
    text-align: center;
    font-size: 48px;
}

#rain1{
    left: 25%;
    animation-delay: 0s;
}

#size1, #size2, #size3, #size4, #size5, #size6, #size7, #size8, #size9, #size10{
   height: 5rem;
   width: 5rem;
}

#rain2{
    left: 10%;
    animation-delay: 2s;
    animation-duration: 12s;
}


#rain3{
    left: 70%;
    animation-delay: 4s;
}

#rain4{
    left: 40%;
    animation-delay: 0s;
    animation-duration: 18s;
}

#rain5{
    left: 65%;
    animation-delay: 0s;
}

#rain6{
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

#rain7{
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

#rain8{
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

#rain9{
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

#rain10{
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

#rain10{
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 6s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(100vh);
        opacity: 0;
        border-radius: 50%;
    }

}