*{
    margin: 0px;
    padding: 0px;
}


body{
    background: #464661;
    max-height: 100vh;
}

nav {
    background-color: rgb(61, 60, 60);
    height: 3rem;
}
  
.btn {
    color: gray;
    font-size: 16px;
}

.space {
    margin-bottom: 200px;
}

.rain-drops li{
    position: absolute;
    display: block;
    list-style: none;
    animation: animate 5s linear infinite;
    bottom: 790px;
    z-index: -2;
    
}


#name, #role {
    font-family: 'Righteous', cursive;
    color: white;
    text-align: center;
    font-size: 3em;
}


#size1, #size2, #size3, #size4, #size5, #size6, #size7, #size8, #size9, #size10{
   height: 10rem;
   width: 10rem;
}

#rain1{
    left: 25%;
    animation-delay: 0s;
}

#rain2{
    left: 10%;
    animation-delay: 2s;
    animation-duration: 12s;
}


#rain3{
    left: 70%;
    animation-delay: 4s;
}

#rain4{
    left: 40%;
    animation-delay: 0s;
    animation-duration: 18s;
}

#rain5{
    left: 65%;
    animation-delay: 0s;
}

#rain6{
    left: 75%;
    animation-delay: 3s;
}

#rain7{
    left: 35%;
    animation-delay: 7s;
}

#rain8{
    left: 50%;
    animation-delay: 15s;
    animation-duration: 30s;
}

#rain9{
    left: 20%;
    animation-delay: 2s;
    animation-duration: 25s;
}

#rain10{
    left: 85%;
    animation-delay: 0s;
    animation-duration: 11s;
}

#rain11{
    left: 80%;
    animation-delay: 6s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0);
        opacity: 1;
    }

    100%{
        transform: translateY(100vh);
        opacity: 0.25;
    }

}

#name {
    font-size: 4em;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 2s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    animation-duration: 3s;
  }

@keyframes glow {
    from {
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #e6d700, 0 0 30px #e6d700, 0 0 40px #e6d700, 0 0 50px #e6d700, 0 0 60px #e6d700, 0 0 70px #e6d700;
    }
  }